version: '3'
services:

  kwii-proxy:
    image: cliffordun/kwii-nginx
    depends_on:
      - kwii-api
      - kwii-web
    ports:
      - '443:443'

  kwii-api:
    image: cliffordun/api-gateway
    depends_on:
      - user-ms
      - auth-ms
      - chatroom-ms
      - notif-ms
      - lt-chat-ms
    environment:
      PORT: '5500'
      SHOW_URLS: 'true'
      CHATS_URL: 'lt-chat-ms'
      CHATS_PORT: '8000'
      CHATS_ENTRY: 'chats'
      USERS_URL: 'user-ms'
      USERS_PORT: '3000'
      USERS_ENTRY: 'users'
      TESTS_ENTRY: 'tests'
      FRIENDS_ENTRY: 'friends'
      NOTIF_URL: 'notif-ms'
      NOTIF_PORT: '9000'
      NOTIF_ENTRY: 'notification'
      USDEV_ENTRY: 'user_device'
      CHATROOM_URL: 'chatroom-ms'
      CHATROOM_PORT: '8080'
      AUTH_URL: 'auth-ms'
      AUTH_PORT: 3200
      AUTH_ENTRY: 'login'

  kwii-web:
    image: cliffordun/kwii-web
    command: "npm run start"

  kwii-server-interface:
    depens_on:
      - kwii-api
    image: cliffordun/kwii-interface
    ports:
      - "8420:8420"
    command: python soap_server.py

  kwii-client-interface:
    image: cliffordun/kwii-interface
    ports:
      - "8425:8425"
    command: python soap_client.py

  user-ms:
    image: cliffordun/users-ms
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rake db:migrate && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - /user-ms/ms
    depends_on:
      - user-db
    environment:
      - POSTGRES_HOST=user-db

  user-db:
    image: postgres
    volumes:
      - /user-ms/db

  auth-ms:
    image: cliffordun/authentication-ms
    restart: on-failure
    depends_on:
      - auth-db
      - user-db
    environment:
      - REDIS_URL=auth-db:6379
      - USER_DB_URL=user-db:5432

  auth-db:
    image: redis:5-alpine
    ports:
      - 6001:6379
  
  chatroom-ms:
    image: cliffordun/chatroom-ms
    restart: on-failure
    depends_on:
      - chatroom-db
    environment:
      - MONGO_URL=chatroom-db
      - MONGO_PORT=27017

  chatroom-db:
    image: mongo:4

  notif-ms:
    image: cliffordun/notification-ms
    restart: on-failure
    depends_on:
      - notif-db
    ports:
      - 9000:9000
    environment:
      - FIREBASE_API_KEY=${FIREBASE_API_KEY}
      - REDIS_URL="notif-db:6379"

  notif-db:
    image: redis:5-alpine

  lt-chat-ms:
      image: cliffordun/lt-chat-ms
      command: python manage.py runserver 0:8000
      depends_on:
        - lt-chat-db

  lt-chat-db:
      image: mongo:4
